.btn{
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 4rem;
      display: inline-block;
      border-radius: 5rem;
      transform: all 0.2s; }
      position: relative;
    
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 5px 10px rgba(0,0,0,.2); }
    
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 7px rgba(0,0,0,.2);}
    
    &--white {
      color:$color-grey-dark;
      background-color:$color-white;
      font-size: 0.9rem; 
        
    
    &::after{
        background-color: $color-white;
    }

}

&::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    transition: all .4s;
}

&:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

&--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

}